@import url("https://fonts.cdnfonts.com/css/agency-fb?styles=17318");

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-image: url("./background.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  display: flex;
  font-family: "Agency FB", sans-serif;
}

.legends {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  margin-left: 75px;
}

.legend {
  width: 300px;
  height: 400px;
  border-radius: 15px;
  margin: 20px;
  text-align: center;
  color: #000;
  background-color: rgb(212, 212, 212);
  transition: transform ease-out 0.5;
}
.legend h1 {
  border-top: 2px solid black;
  padding-top: 10px;
  font-size: 2.5em;
}
.legend img {
  background-position: center;
}

.legend:hover {
  transform: translateY(-10px);
  box-shadow: 0 0 15px rgba(255, 255, 255, 0.7);
}

h2 {
  font-size: 2rem;
}

.more-info {
  display: flex;
  align-items: center;
  font-size: 1.5em;
  overflow: auto;
  text-align: center;
  padding-left: 10px;
}
@media (max-width: 1024px) {
  .legend {
    width: 25%;
  }
}
@media (max-width: 768px) {
  .legend {
    width: 65%;
  }
}

@media (max-width: 425px) {
  .legend {
    width: 70%;
  }
  .legends {
    margin-left: 35px;
  }
}
